@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fefae0;
  font-family: "Baloo Bhai 2", sans-serif;
}

.progress-bar {
  z-index: 9999;
  animation-timeline: scroll();
}
.loading span {
  animation: fadeUp 1s infinite ease-in-out alternate;
}
.loading .love1 {
  animation-delay: -0.25s;
}
.loading .love2 {
  animation-delay: -0.5s;
}
.loading .love3 {
  animation-delay: -0.75s;
}
.loading .love4 {
  animation-delay: -1s;
}
.loading .love5 {
  animation-delay: -1.25s;
}

.simply-countdown {
  @apply w-full md:w-[90%] py-2  bg-transparent backdrop-blur-sm shadow-md shadow-primary;
}

.simply-countdown > .simply-section .simply-amount {
  @apply text-xl md:text-4xl lg:text-6xl;
}

.simply-countdown > .simply-section .simply-word {
  @apply text-base lg:text-xl;
}
@keyframes fadeUp {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.active {
  color: #5f6f52;
}

::-webkit-scrollbar {
  display: none;
}

/* LOADING */
.loader {
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side, #5f6f52 90%, #0000);
  background: var(--_g) left, var(--_g) right;
  background-size: 25% 100%;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background-color: #b99470;
  animation: l49 1s infinite linear;
}
.loader:after {
  transform-origin: 200% 50%;
  --s: -1;
  animation-delay: -0.5s;
  background-color: #a9b388;
}

@keyframes l49 {
  58%,
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
