@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-beige font-baloo;
}

.progress-bar {
  @apply z-[9999];
  animation-timeline: scroll();
}
.loading span {
  animation: fadeUp 1s infinite ease-in-out alternate;
}
.loading .love1 {
  animation-delay: -0.25s;
}
.loading .love2 {
  animation-delay: -0.5s;
}
.loading .love3 {
  animation-delay: -0.75s;
}
.loading .love4 {
  animation-delay: -1s;
}
.loading .love5 {
  animation-delay: -1.25s;
}

.simply-countdown {
  @apply w-full md:w-[90%] bg-transparent backdrop-blur-sm shadow-md shadow-primary;
}

.simply-countdown > .simply-section .simply-amount {
  @apply text-xl md:text-4xl lg:text-6xl;
}

.simply-countdown > .simply-section .simply-word {
  @apply text-base lg:text-xl -mt-2;
}
@keyframes fadeUp {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.active {
  @apply text-primary;
}

::-webkit-scrollbar {
  display: none;
}
